[submodule "flow-cutter-pace17"]
	path = flow-cutter-pace17
	url = https://github.com/smogork/flow-cutter-pace17
[submodule "libraries/networkxxgmml"]
	path = libraries/networkxxgmml
	url = https://github.com/smogork/networkxxgmml
